body{
	background-color: #EEEEEE;
	margin: 0;
}

.header{
	background-color: #404040;
	display: inline-block;
	height: 120px;
	width: 100%;
	position: fixed;
	top: 0px;
}

.content{
	padding-top: 120px;
	background-color: white;
}

.content .sidebar{
	width: 300px;
	float: left;
	position: fixed;
	top: 120px;
	height: 100%;
	background-color: #EEEEEE;
	display: inline-block;
}

.content .main-content{
	height: 8000px;
	padding-left: 300px;
	display: inline-block;
	margin-left: 10px;
}
.content .main-content div{
	/* height: 400px;
	background-color: white;
	border:1px solid blue; */
}
/*.content .main-content .intro{
    position:relative;
    background-color: white ;
}*/
xmp{
    background-color: #eeeeee ;
    border-left:10px solid #808080 ;
    height: auto;
    display: inline-block;
    padding:0px 10px;
    width:100%;
}
.code{
    width:50%;
    display: inline-block;
}
.preview{
    width:50%;
    display: inline-block;
}
.content .main-content .intro .inner-intro{
    position:absolute;
    height:100px;
    bottom:0%;
    background-color: yellow;
}
.footer{
	background-color: #CCCCCC;
	display: inline-block;
	width: 100%;
}